button{
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}
button:hover{
    cursor: pointer;
}
.fundo{
    background-color: black;
    border-radius: 1em;
}



/* FORMATANDO OS BOTOES */
.gray{
    background-color: #505050;
    color: white
}
.orange{
    background-color: #FF9500;
    color: white
}
.result{
    color: white;
    display: flex;
    justify-content: right;
    margin-right: 1em;
    font-size: 4em;
}